{{setPageTitle "The Bridesmaids"}}
{{setActiveNav "wedding_party"}}
{{addCSS "/css/home.css"}}
{{addCSS "/css/wedding_party.css"}}

<div class="l-contain">
  {{#subnav "wedding_party" active="bridesmaids"}}
    {{> subnav}}
  {{/subnav}}

<ol class="vips l-grid">

  {{#event "Nadine Obeid - Matron of Honor"
        photo  = "/photos/nadine.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Nadine is the Nads in SerNads.  I don't know if Nadine remembers, but during UC Davis orientation she let me use her hair dryer.  But we officially met at the Women in Engineering retreat and we have been inseparable ever since!  We got along so well that Nadine moved into my quad in K Building from the 3rd floor to the 1st floor the first week since one of the girls moved out.  Nadine and I have have so many great memories and she is my sister from another mister.  Even when Nadine moved to Lebanon after college, we still stayed in touch.  I am so ecstatic Nadine is back in the states and accepted to be my Matron of Honor.
    </p>

  {{/event}}

  {{#event "Karen Slowik - Maid of Honor"
        photo  = "/photos/karen.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Karen and I met our first year as Tercero Resident Advisors.  We didn't work too much together that year but when we came back as returning RAs we worked together more.  We really bonded when we frequented the TAAC to study.  It wasn't until Karen went to UCLA Law we became best friends.  Karen was there during the time I was an awkward single lady and there when Dan and I started dating.  Karen was the one who officially named us, "Danerina."  I was her MOH at her wedding and so happy Karen accepted my offer to be MOH at my wedding.
    </p>

  {{/event}}

  {{#event "Marghuba Osman"
        photo  = "http://lorempixel.com/600/350/cats/"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Marghuba and I have been best friends since we were 12 years old.  Wow, we are old...  Marghuba is one of the most friendly person I have ever met.  Being the shy new girl at school, she was literally my first friend.  And Marghuba and I continue to be best friends until this day.  We have so much fun together laughing and eating junk food. I can't wait to have her stand beside me as I marry Dan.
    </p>

  {{/event}}

  {{#event "Susan Hopkins"
        photo  = "/photos/susan.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Susan and I met as first year Resident Advisors.  She remembers me as the quiet RA who didn't say one thing during RA class. I'm not surprised by that - the class was very intimidating.  Anyway, there wasn't too much interaction during our first year as RAs but when we returned the next year we were put on the same staff and got to know each other very well.  Susan is the most fashionable person I know and it shows.  We have so much fun together and bond over fashion, makeup, music, and pop culture.  Susan gives great life advice and I know she will be the one who will make sure I walk down the aisle.
    </p>

  {{/event}}

  {{#event "Emily Gruber (Scholl)"
        photo  = "/photos/emily.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Emily is Dan's baby sister who is by the way gorgeous.  Emily is the sweetest person and has been a very supportive sister since I took Dan away from California to Chicago.  She has been so welcoming and I can't wait to get to know her better.
    </p>

  {{/event}}

</div>
