{{setPageTitle "The Bridesmaids"}}
{{setActiveNav "wedding_party"}}
{{addCSS "/css/home.css"}}
{{addCSS "/css/wedding_party.css"}}

<div class="l-contain">
  {{#subnav "wedding_party" active="bridesmaids"}}
    {{> subnav}}
  {{/subnav}}

<ol class="vips l-grid">
  {{#event "Karen Slowik - Maid of Honor"
        photo  = "http://lorempixel.com/600/350/cats/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Karen likes cake pops.
    </p>

  {{/event}}

  {{#event "Nadine Obeid - Matron of Honor"
        photo  = "http://lorempixel.com/600/350/cats/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Serina + Nadine = sernads.
    </p>

  {{/event}}

  {{#event "Marghuba Osman"
        photo  = "http://lorempixel.com/600/350/cats/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        
    </p>

  {{/event}}

  {{#event "Susan Hopkins"
        photo  = "http://lorempixel.com/600/350/cats/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        
    </p>

  {{/event}}

  {{#event "Emily Gruber (Scholl)"
        photo  = "http://lorempixel.com/600/350/cats/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Dan's baby sis.
    </p>

  {{/event}}

</div>
