{{setPageTitle "The Groomsmen"}}
{{setActiveNav "wedding_party"}}
{{addCSS "/css/home.css"}}
{{addCSS "/css/wedding_party.css"}}

<div class="l-contain">
  {{#subnav "wedding_party" active="groomsmen"}}
    {{> subnav}}
  {{/subnav}}

<ol class="vips l-grid">
  {{#event "Jon Choy - Best Man"
        photo  = "/photos/jon.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Jon and Dan both did most of their growing up in Danville, but they weren't friends until the end of high school. They worked together at Baskin Robbins for a couple years. Jon's claims to fame at Baskin Robbins were his remarkable ice cream scoop tricks as well as his hand gestures. You should definitely ask him.
    </p>

    <p>
        Jon went to college at Long Beach State and has lived in Long Beach ever since. Despite the distance between them, Dan and Jon have managed to stay close friends over the years. Occassional phone calls and road trips along with plenty of online gaming time have made this pretty easy. Jon started in human resources but quickly realized that his entrepreneurial skills were strong enough that he could quit and become his own boss. This is exactly what he did in 2008. He started out selling Nintendo Wiis and other electronics, but has since switched to <a href="http://www.plentyofbikes.com" >bicycles.</a>
    </p>

    <p>
        Dan has always been grateful for his relationship with Jon. They can always make each other laugh, and have always been goto buddys for conversations about dating and pretty much everything else in life.
    </p>
  {{/event}}

  {{#event "Rob Hom"
        photo  = "/photos/rob.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Rob has always been a verious serious guy, as is evident in this wedding photo of his. Dan and Rob have been friends for over 20 years. They started hanging out back in 4th grade and have remained close ever since. Their shared love of video games has always given them plenty of things to do together. They also ran track in high school together, and took many of the same computer science classes in college.
    </p>

    <p>
        Rob has always been a straight shooter which is one thing Dan is often grateful for. He's not the type to see something wrong and just let it happen. Dan knows he can always count on Rob for his honest opinion.
    </p>

  {{/event}}

  {{#event "Kevin Lam"
        photo  = "/photos/kevin.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Dan and Kevin have been friends ever since the dorms at UC Davis. They even lived together off campus for the entirety of their college undergrad years after the dorms. Kevin is a great guy that is impossible to not like. His ability to be a nice guy but at the same time edgy and hilarious has always impressed Dan. His humility as well as his tactful honesty are some of his best traits. Basically, he's an awesome guy.
    </p>

    <p>
        Kevin and Mary Ann (an honorable groomsmaid) got married in Sacramento in 2011. Since these two have always been such great friends of Dan's, it was a very happy day for him when they got hitched. He hopes they can all stay friends forever!
    </p>

  {{/event}}

  {{#event "Matt Kyauk"
        photo  = "/photos/matt.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Matt is probably Dan's coolest friend. You can tell by this picture. So. Cool. But seriously, Matt has always been a great friend of Dan's ever since they met in the dorms at UC Davis. Their shared love of video games and snowboarding more than kept them busy throughout college and after. Matt has a lot of great qualities but the one Dan appreciates the most is his ability to act as the glue in their group of friends. Matt is almoast always the one that brings everyone together for gatherings. Most of their snowboarding trips were organized by Matt, as well as Vegas trips, and the infamous Weekly Progress Meeting (casual dinner gatherings amongst the group).
    </p>

    <p>
        One thing Dan and Serina are definitely grateful for, is the one that convinced Dan to join the Engineering Fraternity where Serina and Dan met. Back then Dan was not into that sort of thing at all, but Matt pushed him and a couple other engineering friends to do it. So basically Matt likes to take credit for this Danerina wedding. We aren't sure that he deserves all the credit, but he definitely gets some!
    </p>

  {{/event}}

  {{#event "Daniel Lu"
        photo  = "/photos/daniel.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Dan and Daniel (D<sup>2</sup>) have been great friends since they pledged for Theta Tau together back in 2005. They've always been able to keep a steady conversation going which is something Dan really likes about their friendship. Together they've enjoyed plenty of road trips, snowboarding trips, and even an awesome vacation to Japan, Korea, and Taiwan.
    </p>

    <p>
        Daniel started out as an electrical engineer in silicon valley but after a few years decided he was more interested in business than engineering. He helped start up a <a href="http://chromaxgolf.com/">family golf ball business</a>, and then went to business school at Northwestern University in Chicago. Daniel was pretty much the only person Dan knew in Chicago when he moved out there. It turns out that business school takes up a lot of your time though so they really didn't get to hang out much while they overlapped in Chicago. Daniel more than made up for this after he graduated by staying with Dan and Serina for about a month before moving back to CA.
    </p>

  {{/event}}

  {{#event "Joe Riquelme"
        photo  = "/photos/joe.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Joe and Dan have been friends since they met at the end of college in Davis. Dan's strongest and fondest memories of those days were Joe's laugh. His unique laugh was pretty awesome! Dan used to comment on it and apparently this resulted in Joe trying to stifle it and go with a more boring, regular one. The good thing is, if you can make him laugh hard enough, it still comes out some times!
    </p>

    <p>
        Joe also started out as an electrical engineer in silicon valley, but his creativity pushed him to start a <a href="http://videoshop.net/">mobile app business</a>. This has been working out pretty well for him. Over just a couple years he transitioned from living with his parents, to sharing an apartment in San Francisco, to living it up in an appartment in downtown Manhattan!
    </p>

  {{/event}}

  {{#event "Kevin Tabara"
        photo  = "/photos/kevinT.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Kevin is Serina's little bro. He and Dan have only hung out a few times so far, but Dan is looking forward to getting to know him much better now that they'll be brothers! Kevin is an expert guitarist, regimented exerciser, and a talented baker. He and Dan share a love of beer. He always knows what's new and exciting in the midwest craft beer scene before Dan and Serina even do.
    </p>

  {{/event}}
</div>
