{{setPageTitle "The Groomsmen"}}
{{setActiveNav "wedding_party"}}
{{addCSS "/css/home.css"}}
{{addCSS "/css/wedding_party.css"}}

<div class="l-contain">
  {{#subnav "wedding_party" active="groomsmen"}}
    {{> subnav}}
  {{/subnav}}

<ol class="vips l-grid">
  {{#event "Jon Choy - Best Man"
        photo  = "http://lorempixel.com/600/350/animals/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Jon sells <a href="http://www.plentyofbikes.com">bikes</a>.
    </p>
  {{/event}}

  {{#event "Rob Hom"
        photo  = "http://lorempixel.com/600/350/animals/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        
    </p>

  {{/event}}

  {{#event "Kevin Lam"
        photo  = "http://lorempixel.com/600/350/animals/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        
    </p>

  {{/event}}

  {{#event "Matt Kyauk"
        photo  = "http://lorempixel.com/600/350/animals/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        
    </p>

  {{/event}}

  {{#event "Daniel Lu"
        photo  = "http://lorempixel.com/600/350/animals/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        
    </p>

  {{/event}}

  {{#event "Joe Riquelme"
        photo  = "http://lorempixel.com/600/350/animals/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        
    </p>

  {{/event}}

  {{#event "Kevin Tabara"
        photo  = "http://lorempixel.com/600/350/animals/"
        who    = 'empty'}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Serina's little bro.
    </p>

  {{/event}}
</div>
