{{setPageTitle "The Groomsmen"}}
{{setActiveNav "wedding_party"}}
{{addCSS "/css/home.css"}}
{{addCSS "/css/wedding_party.css"}}

<div class="l-contain">
  {{#subnav "wedding_party" active="groomsmen"}}
    {{> subnav}}
  {{/subnav}}

<ol class="vips l-grid">
  {{#event "Jon Choy - Best Man"
        photo  = "/photos/jon.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Jon and I both did most of our growing up in Danville, but we weren't friends until the end of high school. We worked together at Baskin Robbins for a couple years. Jon's claims to fame at Baskin Robbins were his remarkable ice cream scoop tricks as well as his hand gestures. You should definitely ask him.
    </p>

    <p>
        Jon went to college at Long Beach State and has lived in Long Beach ever since. Despite the distance between us, we have managed to stay close friends over the years. Occassional phone calls and road trips along with plenty of online gaming time have made this pretty easy. Jon started in human resources but quickly realized that his entrepreneurial skills were strong enough that he could quit and become his own boss. This is exactly what he did in 2008. He started out selling Nintendo Wiis and other electronics, but has since switched to <a href="http://www.plentyofbikes.com" >bicycles.</a>
    </p>

    <p>
        I've always been grateful for my relationship with Jon. We can always make each other laugh, and have always been goto buddys for conversations about dating and pretty much everything else in life.
    </p>
  {{/event}}

  {{#event "Rob Hom"
        photo  = "/photos/rob.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Rob has always been a very serious guy, as is evident in this wedding photo of his. Rob and I have been friends for over 20 years. We started hanging out back in 4th grade and have remained close ever since. Our shared love of video games has always given us plenty of things to do together. We also ran track in high school together, and took many of the same computer science classes in college.
    </p>

    <p>
        He's has always been a straight shooter which is one thing I'm often grateful for. He's not the type to see something wrong and just let it happen. I know I can always count on Rob for his honest opinion.
    </p>

  {{/event}}

  {{#event "Kevin Lam"
        photo  = "/photos/kevin.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Kevin and I have been friends ever since the dorms at UC Davis. We even lived together off campus for the entirety of our college undergrad years after the dorms. Kevin is a great guy that is impossible to not like. His ability to be a nice guy but at the same time edgy and hilarious has always impressed me. His humility as well as his tactful honesty are some of his best traits. Basically, he's an awesome guy.
    </p>

    <p>
        Kevin and Mary Ann (an honorable groomsmaid) got married in Sacramento in 2011. Since these two have always been such great friends of mine, it was a very happy day for me when they got hitched. I hope we can all stay friends forever!
    </p>

  {{/event}}

  {{#event "Matt Kyauk"
        photo  = "/photos/matt.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Matt is probably my coolest friend. You can tell by this picture. So. Cool. But seriously, Matt has always been a great friend of mine ever since we met in the dorms at UC Davis. Our shared love of video games and snowboarding more than kept us busy throughout college and after. Matt has a lot of great qualities but the one I appreciate the most is his ability to act as the glue in our group of friends. Matt is almost always the one that brings everyone together for gatherings. Most of our snowboarding trips were organized by Matt, as well as Vegas trips, and the infamous Weekly Progress Meeting (casual dinner gatherings amongst the group).
    </p>

    <p>
        One thing Serina and I are definitely grateful for, is that Matt was one that convinced me to join the Engineering Fraternity where ended up meeting. Back then I wasn't into that sort of thing at all, but Matt pushed me and a couple other engineering friends to do it. So basically Matt likes to take credit for this Danerina wedding. We aren't sure that he deserves all the credit, but he definitely gets some!
    </p>

  {{/event}}

  {{#event "Daniel Lu"
        photo  = "/photos/daniel.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Daniel and I (D<sup>2</sup>) have been great friends since we pledged for Theta Tau together back in 2005. We've always been able to keep a steady conversation going which is something I really like about our friendship. Together we've enjoyed plenty of road trips, snowboarding trips, and even an awesome vacation to Japan, Korea, and Taiwan.
    </p>

    <p>
        Daniel started out as an electrical engineer in silicon valley but after a few years decided he was more interested in business than engineering. He helped start up a <a href="http://chromaxgolf.com/">family golf ball business</a>, and then went to business school at Northwestern University in Chicago. Daniel was pretty much the only other person I knew in Chicago when we moved out there. It turns out that business school takes up a lot of your time though so we really didn't get to hang out much while we overlapped in Chicago. Daniel more than made up for this after he graduated by staying with us for about a month before moving back to CA.
    </p>

  {{/event}}

  {{#event "Joe Riquelme"
        photo  = "/photos/joe.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Joe and I have been friends since they met at the end of college in Davis. My strongest and fondest memories of those days were Joe's laugh. His unique laugh was pretty awesome! I used to comment on it and apparently this resulted in Joe trying to stifle it and go with a more boring, regular one. The good thing is, if you can make him laugh hard enough, it still comes out some times!
    </p>

    <p>
        Joe also started out as an electrical engineer in silicon valley, but his creativity pushed him to start a <a href="http://videoshop.net/">mobile app business</a>. This has been working out pretty well for him. Over just a couple years he transitioned from living with his parents, to sharing an apartment in San Francisco, to living it up in an apartment in downtown Manhattan!
    </p>

  {{/event}}

  {{#event "Kevin Tabara"
        photo  = "/photos/kevinT.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Kevin is Serina's little bro. He and I have only hung out a few times so far, but I'm looking forward to getting to know him much better now that we'll be brothers! Kevin is an expert guitarist, regimented exerciser, and a talented baker. We share a love of beer. He always knows what's new and exciting in the midwest craft beer scene before Serina and I even do.
    </p>

  {{/event}}
</div>
