{{setPageTitle "Engagement Photos"}}
{{setActiveNav "engagement"}}
{{addCSS "/css/home.css"}}

<div class="reg l-contain">
    <h1>Engagement Photos</h1>

    <p>
        Mama Scholl took these engagement photos of Serina and Dan in Chicago shortly after they got engaged.
    </p>

    <div class="event-photo"><a href="/photos/engagement/full/DSC08946.jpg"><img src="/photos/engagement/DSC08946.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC08973.jpg"><img src="/photos/engagement/DSC08973.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC08985.jpg"><img src="/photos/engagement/DSC08985.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09048.jpg"><img src="/photos/engagement/DSC09048.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09066.jpg"><img src="/photos/engagement/DSC09066.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09075.jpg"><img src="/photos/engagement/DSC09075.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09103.jpg"><img src="/photos/engagement/DSC09103.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09106.jpg"><img src="/photos/engagement/DSC09106.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09107.jpg"><img src="/photos/engagement/DSC09107.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09177.jpg"><img src="/photos/engagement/DSC09177.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09229.jpg"><img src="/photos/engagement/DSC09229.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09239.jpg"><img src="/photos/engagement/DSC09239.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09242.jpg"><img src="/photos/engagement/DSC09242.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09253.jpg"><img src="/photos/engagement/DSC09253.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09283.jpg"><img src="/photos/engagement/DSC09283.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09292.jpg"><img src="/photos/engagement/DSC09292.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09294.jpg"><img src="/photos/engagement/DSC09294.jpg"></a></div>
    <div class="event-photo"><a href="/photos/engagement/full/DSC09322.jpg"><img src="/photos/engagement/DSC09322.jpg"></a></div>
</div>
