{{setYUIModule "le-home"}}
{{setDescription "Serina Tabara & Dan Scholl are getting married on July 11, 2015 in Sunol, CA."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Serina Tabara</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Dan Scholl</span>
</h1>

<ol class="timeline bar l-grid">
  {{#event "The Wedding"
        time   = "July 11, 2015"
        photo  = "/photos/crate.jpg"
        alt    = "Photo of Serina and Dan in Wisconsin."
        credit = "Mama Scholl"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Serina and Dan are getting married this summer in <strong>Sunol, CA</strong>.
    </p>

    <p class="button-wedding">
        <a class="button" href="/wedding/">See Wedding Details</a>
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "The Engagement"
        time = "October 10, 2014 @ 7:30pm"
        map  = "dscholl.ka9a473n"}}

    {{> event/header}}
    {{> event/map}}

    <p>
        Dan had found the perfect ring for Serina, but it took him three weeks to figure out a good way to propose to her.  He decided a nice home made, candle-lit dinner on the roof of their apartment would be an amazing way to go.  Serina had a work trip planned and he could have dinner ready by the time she got home!
    </p>

    <p>
        Unfortunately for Dan, the Chicago winter had come sooner than expected.  Chicago winters make for poor roof-top dinners. He decided that he didn't want to wait until spring, so an indoor setting would have to do. Dan also realized that he has very poor cooking skills and Serina has amazing food appreciation and tasting skills. He decided take-out sushi and an apartment filled with over 50 candles would be the best plan for the proposal.
    </p>

    <p>
        Serina told Dan that she'd be home at 8pm. He got off work at 3pm to prepare. Serina's flight ended up arriving much earlier than expected so Dan had far less time than anticipated to finish. On top of that, it takes a surprising amount of time to light 50 candles! Serina surprised Dan by texting him that she was 5 minutes away from home when he wasn't even close to being ready. For a minute he froze and wasn't sure how to handle the situation. He hadn't even found time to order the sushi, much less pick it up. So, he came up with a brilliant plan to have Serina get the Sushi! She loves sushi so this should be no problem.
    </p>

    <p>
        Serina was very excited to get home and relax, and was slightly perturbed when Dan asked her to go directly to the sushi restaurant and pick up sushi... as well as order it. At this point she knew something was up, so she played along.
    </p>

    <p>
        Serina's trip to the restaurant gave Dan enough time to finish his preparations.  When she got to the apartment there were love notes waiting for her leading her all around the candle-filled place and eventually to the bedroom where Dan was waiting on one knee.
    </p>

    <p>
        She proclaimed - "I KNEW IT!". And then she let Dan go on to say some nice things about their relationship and officially pop the question. Fortunately for Dan, she said yes!
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "The Ring"
        time = "September, 2014"}}

    {{> event/header}}

    <p>
        Dan knew Serina was the one long before he even moved to Chicago for her. But now he felt that it was time to make it official.
    </p>
    <p>
        A few months earlier Serina had mentioned to Dan that she would feel bad about receiving a "blood diamond", and would prefer something that was conflict free. She also told him the exact style of diamond and band that she preferred. Armed with all this information, it was going to be difficult for Dan to screw this up. He took his time to find the perfect diamond though, and can thank the great people at <a href="http://www.brilliantearth.com/"> Brilliant Earth</a> for helping him out.
    </p>

    {{> event/time}}
  {{/event}}

   {{#event "The Move to Chicago"
        time   = "April, 2013"
        photo  = "/photos/campbell.jpg"
        alt    = "Photo of Serina and Dan in front of their Chicago Apt."
        credit = "Mama Scholl"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Serina earned an exciting job opportunity within PepsiCo to transfer to R&D in Barrington, IL. Being the independent career woman that she is - she was for sure going to take this job. She cared a lot about Dan but wouldn't dream of pressuring him to drop everything and move to IL for her. She told him that he could come if he wanted, but it'd be totally up to him. Dan had never even been to Chicago, but he had a really great feeling about Serina. He decided it was definitely worth it to move there with her. He wanted to a new job anyway, so this was a perfect opportunity to jump into something new.
    </p>

    <p>
        Serina and Dan love Chicago and are both happy to be there. They do hope to move back to CA some day, but are in no hurry to do so.
    </p>
    {{> event/time}}
  {{/event}}

  {{#event "Dating"
        time   = "August 26, 2012"
        photo  = "/photos/collage.jpg"
        alt    = "Good times for Danerina."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        In the summer of 2012 Dan and Serina started seeing much more of each other at various hangouts with their mutual San Francisco friends, mostly from the fraternity. They can probably thank their friend Mindy for organizing most of these events! One particular weekend, they visited their buddy Vinay in San Diego with a group of friends. This weekend helped Dan realize how cool Serina really was.
    </p>

    <p>
        Dan was pretty sure that Serina was too cool for him, but it turns out she was into him to! They started dating and really enjoying themselves. Going on road trips, to concerts, and to more SF hangouts. 
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "UC Davis - They Meet"
        time = "March, 2006"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Serina and Dan got to know each other a bit in college since they each joined Davis's co-ed engineering Fraternity <a href="http://www.davisthetatau.com/">Theta Tau.</a> Looking back, Serina now mentions that she thought Dan was "cute". Dan has a horrible memory but he remembers thinking of Serina as a nice and outgoing girl who was always fun to be around.
    </p>

    <p>
        After Dan graduated he moved to San Diego for a few years and really didn't see much of Serina for a while.
    </p>


    {{> event/time}}
  {{/event}}
</ol>
