{{setYUIModule "le-home"}}
{{setDescription "Serina Tabara & Dan Scholl are getting married on July 11, 2015 in Sunol, CA."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Serina Tabara</span>
    <span class="ann-secondary ann-sep">&amp;</span>
    <span class="ann-primary">Dan Scholl</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Getting Married"
        time   = "July 11, 2015"
        photo  = "/photos/crate.jpg"
        alt    = "Photo of Serina and Dan in Wisconsin."
        credit = "Mama Scholl"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Serina and Dan are getting married this summer in <strong>Sunol, CA</strong>.
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">See Wedding Details</a>
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Got Engaged"
        time = "October 10, 2014 @ 7:30pm"
        map  = "dscholl.ka9a473n"}}

    {{> event/header}}
    {{> event/map}}

    <p>
        Dan had found the perfect ring for Serina, but it took him three weeks
        to figure out a good way to propose to her.  He decided a nice home made,
        candle-lit dinner on the roof of their apartment would be an amazing way to go.
        Serina had a work trip planned and he could have dinner ready by the time she
        got home!
    </p>

    <p>
        Unfortunately for Dan, the Chicago winter had come sooner than expected.
        Chicago winters make for poor roof-top dinners. He decided that he didn't want
        to wait until spring, so an indoor setting would have to do. Also unfortunately
        for Dan, he has very poor cooking skills and Serina has amazing food
        appreciation and tasting skills. He decided take-out sushi and an apartment
        filled with over 50 candles would be the best plan for the proposal.
    </p>

    <p>
        Serina told Dan that she'd be home at 8pm. He got off work at 3pm to prepare.
        Unfortunately for Dan, Serina's flight got in much earlier than expected and he
        had far less time than anticipated to finish. Also unfortuante, is that it takes
        a surprising amount of time to light 50 candles! Serina surprised Dan by texting
        him that she was 5 minutes away from home when he wasn't even close to being
        ready. For a minute he froze and wasn't sure how to handle the situation. He
        hadn't even found time to pick up the sushi. So, he came up with a brilliant
        plan to have Serina get the Sushi! She loves sushi so this should be no problem.
    </p>

    <p>
        Serina was very excited to get home and relax, and was slightly perturbed when
        Dan asked her to go directly to the sushi restaurant and pick up sushi...  as
        well as order it. At this point she knew something was up, so she played along.
    </p>

    <p>
        Serina's trip to the restaurant gave Dan enough time to finish his preparations.
        When she got to the apartment there were love notes waiting for her leading
        her all around the candle-filled place and eventually to the bedroom where Dan
        was waiting on one knee.
    </p>

    <p>
        She proclaimed - "I KNEW IT!". And then she let Dan go on to say some nice
        things about their relationship and officially pop the question. Fortunately for
        Dan, she said yes!
    </p>


    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
           {{#event "Moved to Chicago"
                time = "April, 2013"
                photo  = "/photos/campbell.png"
                alt    = "Photo of Serina and Dan in Wisconsin."
                credit = "Mama Scholl"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
                Leslie was all ready to meet Eric in San Francisco to go on a “vacation” they'd planned. She had no idea Eric had an engagement ring with him…
            </p>
            <p>
                At the Boston airport, Leslie learned her flight was going to be delayed by three hours. Monster storms were pummeling the Bay Area with rain and high winds; leaving only one runway open at SFO. This meant she wouldn’t arrive until 3:00am PST :(
            </p>
            <p>
                Eric was alone in a San Francisco hotel room, anxiously awaiting Leslie’s arrival.
            </p>

            {{> event/time}}
          {{/event}}

          {{#event "Got the Ring"
                who  = "eric"
                time = "November 7, 2012"}}

            {{> event/header}}

            <p>
                Eric knew it was time. Leslie and he had been together for almost five years, and he wanted to spend his life with her.
            </p>
            <p>
                Eric wanted to get a ring that would accurately symbolize his feelings for Leslie. He worked with his Mom’s cousin—who’s a third generation jeweler—to create a beautiful custom ring he knew Leslie would love.
            </p>
            <p>
                Leslie had not expected a thing; she assumed Eric was procrastinating on this whole proposal thing and figured she'd have to keep waiting… patiently :)
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>

  {{#event "Moved in Together"
        time  = "August 15, 2009"
        photo = "/photos/apartment.jpg"
        alt   = "Photo fo Leslie’s and Eric’s apartment in Boston."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        After dating for over a year and half, Leslie and Eric were very much in love and decided to move in together. They were fortunate to find an <em>excellent</em> apartment in Boston's Back Bay neighborhood.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Went on First Date"
        time = "January 29, 2008"}}

    {{> event/header}}

    <p>
        In late January, Leslie and Eric went on at snowboarding day-trip-only the two of them. Leslie realized that she really liked Eric. The next day a work, she decided to tell Eric via GChat (such a chicken) that she had feelings for him. Eric was shocked! Around that same time he had finally stopped trying to pursue Leslie; right when he stopped, the tables turned.
    </p>
    <p>
        The next day Leslie and Eric went on their first date to a Tapas restaurant near their office. Leslie was so nervous that she couldn’t eat :)
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Became Snowboard Buddies"
        time  = "January 2008"
        photo = "/photos/snowboarding.jpg"
        alt   = "Photo of Leslie and Eric on a chair lift."}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Leslie and Eric got to know each other better on weekend snowboarding trips in Vermont and New Hampshire with groups of friends. Leslie was impressed by Eric’s snowboarding and liked the way he moved.
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Met for the First Time"
        time = "July 2007"}}

    {{> event/header}}

    <p>
        Leslie and Eric were working in the same office building on the same floor, but for different companies. Shortly after Eric moved to Boston, the two met at the floor’s communal coffee station. (That might explain how Eric became a coffee aficionado.)
    </p>
    <p>
        Eric kept seeing this cute girl on the floor (which of course was Leslie). And to increase his chances of running into her, he kept himself overly caffeinated and hydrated. This meant he had to make multiple trips to the communal kitchen, passing by Leslie’s office each time.
    </p>
    <p>
        <strong>Finally,</strong> the two ran into each other—both waiting in line to use the coffee machine. Eric knew this was his moment and that he had to seize this opportunity. Eric told Leslie that he was new to town and trying to find a permanent place to live. Leslie having moved to Boston only a year earlier could relate, and invited Eric to hang out with her and her friends.
    </p>
    <p>
        …Leslie gave Eric her phone number. <strong>Success!</strong>
    </p>

    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
          {{#event "Moved: MI to Boston"
                who  = "eric"
                time = "June 2007"
                map  = "ericf.map-33lesuym"}}

            {{> event/header}}
            {{> event/map}}

            <p>
                After graduating from Michigan State University, Eric headed East and moved to Boston.
            </p>

            {{> event/time}}
          {{/event}}

          {{#event "Moved: VA to Boston"
                who  = "leslie"
                time = "July 2006"
                map  = "ericf.map-bsmwt9pf"}}

            {{> event/header}}
            {{> event/map}}

            <p>
                After graduating from Virginia Tech, Leslie headed North and moved to Boston.
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>
</ol>
