{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
        We're registered at <a href="http://www.crateandbarrel.com/Gift-Registry/daniel-scholl-and-serina-tabara/r5253158">Crate & Barrel</a> and <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541709445&eventType=Wedding&pwsurl=&eventType=Wedding">Bed Bath & Beyond</a>.
    </p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.crateandbarrel.com/Gift-Registry/daniel-scholl-and-serina-tabara/r5253158">
                <img src="/img/crate_and_barrel.png">
            </a>
        </div>

        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?registryId=541709445&eventType=Wedding&pwsurl=&eventType=Wedding">
                <img src="/img/bedbathbeyond.png">
            </a>
        </div>
    </div>

    <div class="break"></div>

    <p>If you don't see anything you'd like to get us on our registry, we'd also appreciate all the help we can get paying for our honeymoon to Japan! If you'd like you can send cash via <a href="https://www.paypal.com/">PayPal</a> to daniel.scholl@gmail.com.</p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="https://www.paypal.com/">
                <img src="/img/paypal.png">
            </a>
        </div>
    </div>

    <p>On our trip to Japan we plan to spend about a week with Serina's family in Niimi since many of them won't be able to make it to the wedding. While there, we plan to take some traditional Japanese wedding photos to replace the not so nice one you see below!</p>
    <div class="event-photo">
        <img class="event-photo" src="/photos/japanese-wedding-photo.jpg">
    </div>
    <p>We also plan to check out Tokyo, Kyoto, and Busan in  South Korea. Thanks for any help you can give us!</p>
</div>
