{{setPageTitle "Registry"}}
{{setActiveNav "registry"}}
{{addCSS "/css/registry.css"}}

<div class="reg l-contain">
    <h1>Wedding Registry</h1>

    <p>
        We're registered at <a href="http://www.crateandbarrel.com/Gift-Registry/daniel-scholl-and-serina-tabara/r5253158">Crate & Barrel</a>. We'd also appreciate all the help we can get paying for our honeymoon to Japan! If you'd like you can send cash via <a href="https://www.paypal.com/">PayPal</a> to daniel.scholl@gmail.com.
    </p>

    <div class="l-grid-1-2">
        <div class="reg-place l-grid-u l-contain">
            <a href="http://www.crateandbarrel.com/Gift-Registry/daniel-scholl-and-serina-tabara/r5253158">
                <img src="/img/crate_and_barrel.png">
            </a>
        </div>
    </div>
</div>
