{{setPageTitle "Hotels Near Wedding"}}
{{setActiveNav "logistics"}}
{{addCSS "/css/details.css"}}

<div class="l-contain">
  {{#subnav "logistics" active="hotels"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Staying Near Our Wedding</h1>

    <p>
        Sunol is a small town and unfortunately doesn't have any hotels. The nearest options are Dublin/Pleasanton, and Fremont. Below are some recommendatons.
    </p>

    <div class="break"></div>

    <h2><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Tabara%20Scholl%20Wedding%5Eoakpl%60tswtswa%6099.00%60USD%60false%607/11/15%607/12/15%606/12/15&app=resvlink&stop_mobi=yes">Courtyard Pleasanton</a></h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.marriott.com/hotels/travel/oakpl-courtyard-pleasanton/">Website</a></li>
                <li><b>Phone:</b><a href="tel://800-321-2211"> 800-321-2211</a></li>
                <li>10 rooms blocked with a $99 room block rate. Call and mention Tabara Scholl Wedding by June 12 to get the rate, or <a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=Tabara%20Scholl%20Wedding%5Eoakpl%60tswtswa%6099.00%60USD%60false%607/11/15%607/12/15%606/12/15&app=resvlink&stop_mobi=yes">click here</a> to make a reservation online.</li>
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=5059+Hopyard+Road+Pleasanton,+CA+94588">
                    5059 Hopyard Road<br>
                    Pleasanton, CA 94588
                </a>
            </address>
        </div>
    </div>

    <div class="break"></div>

    <h2>Residence Inn Pleasanton</h2>
    <div class="details-group l-grid">
        <div class="l-grid-u">
            <ul class="details-content">
                <li><a href="http://www.marriott.com/hotels/travel/oakri-residence-inn-pleasanton/">Website</a></li>
                <li><b>Phone:</b><a href="tel://925-227-0500"> 925-227-0500</a></li>    
            </ul>
        </div>

        <div class="l-grid-u">
            <address class="details-content">
                <a href="http://maps.apple.com?q=11920+Dublin+Canyon+Road+Pleasanton,+CA+94588">
                    11920 Dublin Canyon Road<br>
                    Pleasanton, CA 94588
                </a>
            </address>
        </div>
    </div> 
   </div>
