{{setPageTitle "Traveling to Wedding"}}
{{setActiveNav "logistics"}}

<div class="l-contain">
  {{#subnav "logistics" active="travel"}}
    {{> subnav}}
  {{/subnav}}

    <h1>Traveling to Our Wedding</h1>

    <p>
        We understand that some of our guests will be traveling from out of state and we hope to provide you with all of the necessary information to make your travel to CA as easy as possible.
    </p>

    <h2>BART</h2>
        You can take BART from both the San Francisco and Oakland airports to get to the east bay. We have a <a href="/logistics/hotels">room block</a> at the Courtyard Marriott in Pleasanton which is a 15 minute walk from the Dublin/Pleasanton BART station.

    <h2>OAK and SFO</h2>
    <p>
        Both the Oakland airport and the San Francisco airport have easy access to BART. Oakland is closer and probably more convenient if possible.
    </p>

    <h2>SJC</h2>
    <p>
        The San Jose airport is also a close option but renting a car would be the only option since the San Jose BART extension isn't yet finished.
    </p>
</div>
